/* General */
*{
    font-family: sans-serif;
}
body{
    background-color: rgb(44, 44, 44);
}

/* Header */
.flexh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/bg_top.png);
}
.flexh form{
    padding-right: 20px;
}
/* Barra de navegación */
nav, .flexh{
    width: 80%;
    margin: auto;
    text-align: center;
}
nav{
    background-image: url(../img/bg_menu.png);
    color: rgba(255, 255, 255, 0.589);
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a{
    text-decoration: none;
    color: rgba(206, 253, 255, 0.575);
}

/* Main grid*/

/* Container */
main{
    background-color: black;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(6, 0.4fr);
    grid-template-areas: 
    "texto titulo"
    "texto noticia1"
    "texto noticia2"
    "texto noticia3"
    "texto noticia4"
    "texto noticia5";
}

/* Columna izquierda */
#texto{
    background-image: url(../img/final.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-area: texto;
    color: white;
    margin-left: 40px;
}
aside p{
    width: 30%;
    color: white;
}
aside h1{
    color: red;
    margin-top: 80px;
}
/* Columna derecha */
main article{
    display: flex;
    align-items: center;
    color: white;
}
article span{
    padding: 15px;
}
main article img{
    height: 60px;
}
#titulo{
    grid-area: titulo;
}
h2{
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}
#noticia1{
    grid-area: noticia1;
}
#noticia2{
    grid-area: noticia2;
}
#noticia3{
    grid-area: noticia3;
}
#noticia4{
    grid-area: noticia4;
}
#noticia5{
    grid-area: noticia5;
    margin-bottom: 30px;
}

/* Footer */
footer{
    background-image: url(../img/bg_peu.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.479);
    padding-bottom: 10px;
}


